@tailwind base;
@tailwind components;
@tailwind utilities;

.button-pink {
 
  transition-duration: 0.5s;
  transition-property: transform;
  -webkit-tap-highlight-color: transparent;
  transform: translateZ(0);
  @apply py-2 px-8 bg-gradient-to-r from-secondary-light to-secondary-medium text-white rounded-lg shadow-xl hover:shadow-2xl font-bold font-vg5000 focus:outline-none focus:ring-pink-600 focus:ring-opacity-75;
}

.button-block {
  width: 100%;
}

.button-pink:hover {
  transform: translateY(-6px);
  animation-name: hover;
  animation-duration: 1.5s;
  animation-delay: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.privacy__policy strong {
  @apply text-xl;
  @apply font-inter;
  @apply text-primary;
  @apply my-4;
}

.terms-and-conditions p {
  @apply p-4;
  @apply font-display;
}

.terms-and-conditions ul {
  @apply m-4;
  @apply text-primary;
}